.signup-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #ffedea;

    h1 {
      color: #8d0000;
      font-family: 'Raceline';
    }
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .name-row {
    display: flex;
    gap: 16px;
  }
  
  .buttons-row {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
  }
  
  
  @media (max-width: 576px) {
    .name-row, .buttons-row {
      flex-direction: column;
    }
  }