<div class="signup-container">
    <h1>Create Account</h1>
  
    @if (showForm) {
      <form [formGroup]="signUpForm" (ngSubmit)="signup()" class="signup-form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

        <div class="name-row" formGroupName="name">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="rePassword">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Favorite Driver</mat-label>
          <mat-select formControlName="favDriver">
            @for (driver of drivers; track driver.driverID) {
              <mat-option [value]="driver.driverID">{{getFullName(driver)}}</mat-option>
            }
          </mat-select>
          <mat-icon matSuffix>sports_motorsports</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Favorite Team</mat-label>
          <mat-select formControlName="favTeam">
            @for (team of teams; track team.teamID) {
              <mat-option [value]="team.teamID">{{team.name}}</mat-option>
            }
          </mat-select>
          <mat-icon matSuffix>flag</mat-icon>
        </mat-form-field>
        
  
        <div class="buttons-row">
          <button mat-flat-button color="primary" type="submit">Register</button>
          <button mat-flat-button [routerLink]="['/login']">Already have an account?</button>
        </div>
      </form>
    }
  </div>