.drivers-container {
  padding: 16px;

  h1 {
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Raceline', sans-serif;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}


.error-container,
.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0;

  p {
    margin-top: 16px;
  }
}

.drivers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.driver-card {
  background-size: cover !important;
  color: white;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(90deg, #8d0000 0%, #ff2800 100%);
  }

  mat-card-header {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    mat-card-title {
      font-family: 'Raceline', sans-serif;
      font-size: 1.4rem;
      color: #8d0000;
    }
  }

  mat-card-content {
    .driver-info {
      p {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
        padding: 8px 0;
        color: #8d0000;


        strong {
          color: #8d0000;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .drivers-grid {
    grid-template-columns: 1fr;
  }
}