<div class="drivers-container">
    <h1>Drivers</h1>
    
      <div class="drivers-grid">
        @for (driver of drivers; track driver.driverID) {
          <mat-card class="driver-card">
            <mat-card-header>
              <mat-card-title>{{ getFullName(driver) }}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              <div class="driver-info">
                <p><strong>Race number:</strong> {{ driver.raceNumber }}</p>
                <p><strong>Country:</strong> {{ driver.country }}</p>
                <p><strong>Team:</strong> {{ getTeamName(driver.teamID) }}</p>
              </div>
            </mat-card-content>

          </mat-card>
        } @empty {
          <div class="no-data">
            <p>There are no drivers in the database.</p>
          </div>
        }
      </div>
    
  </div>