@font-face {
    font-family: Raceline;
    src: url("shared/raceline.otf");
}

* {
    background-color: #8d0000;
}

mat-sidenav-container {
    height: 100%;
}

mat-toolbar {
    background-color: transparent;
    color: white;
    padding: 0;
    
    .toolbar-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
        .logo-section {
            flex: 1;
            text-align: left;
            
            #title {
                font-size: 30px;
                font-family: 'Raceline';
                color: white;
                text-decoration: none;
                transition: all 500ms;
                margin-left: 15px;
            }
        }
        
        .navigation-section {
            flex: 3;
            
            ul {
                display: flex;
                justify-content: center;
                list-style: none;
                align-items: center;
                margin-block-start: 0;
                margin-block-end: 0;
                gap: 30px;
                
                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 22px;
                        font-family: 'Raceline';
                        transition: all 500ms;
                        
                        &:hover {
                            font-size: 28px;
                            font-size-adjust: 20px;
                        }
                    }
                }
            }
        }
        
        .login-section {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            a {
                text-decoration: none;
                color: white;
                font-size: 30px;
                font-family: 'Raceline';
                transition: all 500ms;
                margin-right: 15px;
                
                
            }
            
            .menu-toggle-button {
                display: none;
                min-width: 50px;
                padding: 0 8px;
            }
            
            mat-icon {
                color: white;
            }
        }
    }
}

mat-sidenav {
    border-radius: 0;
}

@media (max-width: 865px) {
    mat-toolbar {
        .toolbar-container {
            .navigation-section {
                display: none; 
            }
            
            .login-section {
                .menu-toggle-button {
                    display: block;
                }
            }
        }
    }
}